@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

section > header{
	text-align: center;
}

p span.i1{
	text-indent: -1em;
	padding-left: 2em;
}

p span.i2{
	text-indent: -1em;
	padding-left: 3em;
}

p span.i7{
	text-indent: -1em;
	padding-left: 8em;
}

p span.i8{
	text-indent: -1em;
	padding-left: 9em;
}

abbr.name{
	white-space: nowrap;
}

b{
	font-weight: normal;
	font-variant: small-caps;
}

footer{
	text-align: right;
	margin-top: 1em;
}

[epub|type~="bridgehead"]{
	display: inline-block;
	font-style: italic;
	margin: 0 auto 3em auto;
	max-width: 60%;
	text-align: justify;
	text-indent: 0;
}

[epub|type~="bridgehead"] i{
	font-style: normal;
}

[epub|type~="epigraph"]{
	font-style: italic;
	hyphens: none;
	margin: 3em;
	margin-top: 0;
	text-align: left;
	text-indent: 0;
	display: inline-block;
}

[epub|type~="epigraph"] i{
	font-style: normal;
}

[epub|type~="epigraph"] cite{
	margin-top: 1em;
	font-style: normal;
	font-variant: small-caps;
}

[epub|type~="epigraph"] cite i{
	font-style: italic;
}

[epub|type~="z3998:poem"] p,
[epub|type~="z3998:verse"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:poem"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

[epub|type~="z3998:poem"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:salutation"],
.signature{
	font-variant: small-caps;
}
